<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- head 中 -->
    <link rel="stylesheet" href="css/materialize.min.css">

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>H5 网页示例</title>
</head>
<body style="margin-left: 10px;margin-right: 10px">
<div class="alert alert-primary" role="alert">
    本页面由小辰网络构建： <a href="mqqwpa://im/chat?chat_type=wpa&uin=48924676&version=1&src_type=web&web_src=http:://wpa.b.qq.com">脚本定制联系</a>
</div>


<div class="card-panel">
    <span class="card-title">基本信息</span>
    <div class="row s12 ">


    </div>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">

                <span class="label label-default">时间(秒):</span>
                <input id="name" type="text" class="validate">
                <span class="label label-default">捡瓶子数量:</span>
                <input id="num" type="text" class="validate">
                <span class="label label-default">捡瓶子间隔(秒):</span>
                <input id="bootletime" type="text" class="validate">
                <span class="label label-default">瓶子回复:</span>
                <input id="bootlereply" type="text" class="validate">
                <span class="label label-default">聊天时长(分):</span>
                <input id="bootletimer" type="text" class="validate">


                <span class="label label-default">收到图片回复:</span>
                <input id="picreply" type="text" class="validate" >



                <span class="label label-default">未匹配到关键字回复:</span>
                <input id="noreply" type="text" class="validate">

            </div>
        </div>
    </div>
</div>


        <div class="input-field  inline col s4">

        </div>



        <div class="input-field  inline col s4" >

        </div>


<p>
    <span>日期选择器</span>
    <input type="text" class="datepicker" format="yyyy-MM-dd">

</p>

<br/>

<div class="row">

    <div class="col s6">
        <button class="btn waves-effect waves-light " type="button" name="action" onclick="javascript:save()">保存参数
        </button>
    </div>
    <div class="col s6">
        <button class="btn waves-effect waves-light" type="button" name="action" onclick="javascript:window.ec.start()">
            启动脚本
        </button>
    </div>
</div>
<script src="htmljs/jquery.min.js"></script>
<script src="htmljs/materialize.min.js"></script>


</body>


<script>
    $(function () {
        $('select').formSelect();
        $('.datepicker').datepicker({"format": "yyyy-mm-dd"});

        //使用jquery进行设置值
        //取得参数并且进行设置
        var name = window.ec.getConfig("name");
        $("#name").val(name);


        var picreply = window.ec.getConfig("picreply");
        $("#picreply").val(picreply);

        var noreply = window.ec.getConfig("noreply");
        $("#noreply").val(noreply);

        var name = window.ec.getConfig("name");
        $("#name").val(name);

        var num = window.ec.getConfig("num");
        $("#num").val(num);

        var bootletime = window.ec.getConfig("bootletime");
        $("#bootletime").val(bootletime);

        var bootlereply = window.ec.getConfig("bootlereply");
        $("#bootlereply").val(bootlereply);

        var bootletimer = window.ec.getConfig("bootletimer");
        $("#bootletimer").val(bootletimer);

        window.ec.hideStartBtn();
    });


    //保存参数的函数
    function save() {
        var name = $("#name").val();
        window.ec.saveConfig("name", name);
        var age = $("#age").val();
        window.ec.saveConfig("age", age);

        var picreply = $("#picreply").val();
        window.ec.saveConfig("picreply", picreply);

        var noreply = $("#noreply").val();
        window.ec.saveConfig("noreply", noreply);



        var num = $("#num").val();
        window.ec.saveConfig("num", num);

        var bootletime = $("#bootletime").val();
        window.ec.saveConfig("bootletime", bootletime);

        var bootlereply = $("#bootlereply").val();
        window.ec.saveConfig("bootlereply", bootlereply);

        var bootletimer = $("#bootletimer").val();
        window.ec.saveConfig("bootletimer", bootletimer);
/*
        //一年级
        window.ec.saveConfig("one", $("#one").prop("checked"));
        window.ec.saveConfig("two", $("#two").prop("checked"));
        window.ec.saveConfig("three", $("#three").prop("checked"));

        window.ec.saveConfig("music", $("#music").prop("checked"));
        window.ec.saveConfig("sing", $("#sing").prop("checked"));
        window.ec.saveConfig("dance", $("#dance").prop("checked"));
*/

        window.ec.saveConfig("mark", $("#mark").val());


        var sex = $("select[name=sex]").find("option:selected").val();
        window.ec.saveConfig("sex", sex);

        window.ec.toast("保存成功");


    }

</script>
</html>